* {
    margin: 0;
    padding: 0;
    border: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
option{
    color: black;
}

/* MAIN NAVBAR */

.navbar {
    height: 60px;
    width: 100%;
    background-color: #131921;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Main Logo Box */
.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url(../Img/amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border {
    border: 1px solid transparent;
}

.border:hover {
    cursor: pointer;
    border: solid 1px white;
}

/* Location Box */

.nav-location-icon {
    display: flex;
    align-items: baseline;
}

.first-add {
    color: #ccc;
    font-size: 0.8rem;
    margin-left: 15px;
}

.second-add {
    color: white;
    font-size: 0.9rem;
    font-weight: bolder;
    margin-left: 3.5px;
}

/* Search Box */
.nav-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    width: 800px;
    height: 2rem;
    border-radius: 0.25rem;
}

.nav-search:hover {
    border: solid 2px #F3A847;
}

.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 3rem;
    color: #333333;
    background-color: #F3A847;
    border-radius: 0 0.25rem 0.25rem 0;
}

.search-select {
    text-align: center;
    width: 4rem;
    height: 2rem;
    border: transparent;
    border-radius: 0.25rem 0 0 0.25rem
}

.search-input {
    height: 2rem;
    border: transparent;
    width: 100%;
}

/* Sign in box Box 4 */
.sign-first {
    font-size: 0.8rem;
}

.sign-second {
    font-size: 0.9rem;
    font-weight: bolder;
}

/* Order box 5 */
.order-first {
    font-size: 0.8rem;
}

.order-second {
    font-size: 0.9rem;
    font-weight: bolder;
}

/* cart box 6 */
.nav-cart i {
    font-size: 2rem;
}

.nav-cart span {
    font-size: o.9rem;
    font-weight: bolder;
}

/* SUB NAVBAR */
.sub-nav {
    display: flex;
    align-items: center;
    height: 39px;
    width: 100%;
    color: white;
    background-color: #232F3D;
}

.sub-ops {
    display: flex;
    align-items: center;
}

.sub-ops p {
    display: flex;
    align-items: center;
    height: 40px;
    margin-left: 10px;
}

.sub-all {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35px;
    height: 40px;
    margin-left: 10px;
}

/* HERO SECTIOn */
.hero-section {
    display: flex;
    justify-content: center;
    background-image: url("../Img/hero_image.jpg");
    background-size: cover;
    height: 350px;
    align-items: flex-end;
}

.info-bar {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 97%;
    font-size: 0.9rem;
    background-color: white;
}

.info-bar a {
    color: blue;
}

/* Add section (Main) */

.procuct-adds {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100%;
    background-color: #dbdcdc;
}

/* ADD - 1 */
.add-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-color: white;
    width: 350px;
    height: 400px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: bold;

}

.add1-img {
    width: 300px;
    height: 320px;
    background-image: url(../Img/box5_image.jpg);
    background-size: cover;
    align-self: center;
    border-radius: 2%;
}

.add1-img:hover {
    transform: scale(0.95);
    transition: all 0.5s ease-out;
}

.botm-info {
    padding: 10px;
    font-size: 0.9rem;
    color: blue;
}

.info {
    padding: 10px;
}

/* ADD - 2 */
.add2-img {
    width: 300px;
    height: 320px;
    background-image: url(../Img/box3_image.jpg);
    background-size: cover;
    align-self: center;
    border-radius: 2%;
}

.add2-img:hover {
    transform: scale(0.95);
    transition: all 0.5s ease-out;
}

/* ADD - 3 */
.add3-img {
    width: 300px;
    height: 320px;
    background-image: url(../Img/box9_image.jpg);
    background-size: cover;
    align-self: center;
    border-radius: 2%;
}

.add3-img:hover {
    transform: scale(0.95);
    transition: all 0.5s ease-out;
}

/* ADD - 4 */
.add4-img {
    width: 300px;
    height: 320px;
    background-image: url(../Img/box10_image.jpg);
    background-size: cover;
    align-self: center;
    border-radius: 2%;
}

.add4-img:hover {
    transform: scale(0.95);
    transition: all 0.5s ease-out;
}

/* ADD - 5 */
.add5-img {
    width: 300px;
    height: 320px;
    background-image: url(../Img/box4_image.jpg);
    background-size: cover;
    align-self: center;
    border-radius: 2%;
}

.add5-img:hover {
    transform: scale(0.95);
    transition: all 0.5s ease-out;
}

/* ADD - 6 */
.add6-img {
    width: 300px;
    height: 320px;
    background-image: url(../Img/box8_image.jpg);
    background-size: cover;
    align-self: center;
    border-radius: 2%;
}

.add6-img:hover {
    transform: scale(0.95);
    transition: all 0.5s ease-out;
}

/* ADD - 7 */
.add7-img {
    width: 300px;
    height: 320px;
    background-image: url(../Img/box2_image.jpg);
    background-size: cover;
    align-self: center;
    border-radius: 2%;
}

.add7-img:hover {
    transform: scale(0.95);
    transition: all 0.5s ease-out;
}

/* ADD - 8 */
.add8-img {
    width: 300px;
    height: 320px;
    background-image: url(../Img/box7_image.jpg);
    background-size: cover;
    align-self: center;
    border-radius: 2%;
}

.add8-img:hover {
    transform: scale(0.95);
    transition: all 0.5s ease-out;
}


/* Back to top section */
.btt .back{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    color: white;
    background-color: #425061;
    font-size: 0.9rem;
}

.back:hover{
    background-color: #5a6b81;
}

/* Footer Box (Main) */
.foot-first{
    color: white;
    display: flex;
    justify-content: center;
    height: 320px;
    background-color: #232F3E;
    line-height: 180%;
}

.foot-first .info{
    padding: 2% 5% 0 0;
}

.info p{
    font-size: 0.85rem;
}

/* second footer */
.second-foot-box{
    height: 150px;
    margin: 0.2px;
    background-color: #232F3E;
}

.footer-amazon{
    height: 35px;
    width: 81px;
    background-image: url(../Img/amazon_logo.png);
    background-size: cover;
    margin-right: 4%;
}

.second-select select{
    background-color: transparent;
    color:white;
    border: none;
    padding: 0 0 0 5px;
}

.second-select {
    display: flex;
    align-items: center;
    color:white;
    border: solid 1px white;
    width: 100px;
    height: 25px;
}

.second-lang{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-country{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 1% 20% 25% 20%; 
    color: white;
    font-size: 0.85rem;
}

.second-country p{
    margin: 10px 10px 0 10px;
}