* {
    margin: 0;
    padding: 0;
    border: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* MAIN NAVBAR */

.navbar {
    height: 60px;
    background-color: #131921;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Main Logo Box */
.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url(../Img/amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border {
    border: 1px solid transparent;
}

.border:hover {
    cursor: pointer;
    border: solid 1px white;
}

/* Location Box */

.nav-location-icon {
    display: flex;
    align-items: baseline;
}

.first-add {
    color: #ccc;
    font-size: 0.8rem;
    margin-left: 15px;
}

.second-add {
    color: white;
    font-size: 0.9rem;
    font-weight: bolder;
    margin-left: 3.5px;
}

/* Search Box */
.nav-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    width: 800px;
    height: 2rem;
    border-radius: 0.25rem;
}

.nav-search:hover {
    border: solid 2px #F3A847;
}

.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 3rem;
    color: #333333;
    background-color: #F3A847;
    border-radius: 0 0.25rem 0.25rem 0;
}

.search-select {
    text-align: center;
    width: 4rem;
    height: 2rem;
    border: transparent;
    border-radius: 0.25rem 0 0 0.25rem
}

.search-input {
    height: 2rem;
    border: transparent;
    width: 100%;
}

/* Sign in box Box 4 */
.sign-first {
    font-size: 0.8rem;
}

.sign-second {
    font-size: 0.9rem;
    font-weight: bolder;
}

/* Order box 5 */
.order-first {
    font-size: 0.8rem;
}

.order-second {
    font-size: 0.9rem;
    font-weight: bolder;
}

/* cart box 6 */
.nav-cart i {
    font-size: 2rem;
}

.nav-cart span {
    font-size: o.9rem;
    font-weight: bolder;
}

/* SUB NAVBAR */
.sub-nav{
    display: flex;
}